html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, sub, sup, tt, var,
b, u, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

@media (max-width: 1023px) {
  body {
    font-family: Asap; }

  header {
    position: fixed;
    padding-bottom: 10px;
    height: 80px;
    width: 100%;
    background-color: #fff;
    z-index: 999;
    border-bottom: 1px solid #f5f5f5; }
    header .header_container {
      position: relative;
      height: 100%;
      width: 87%;
      margin: auto;
      text-align: center;
      margin-top: 30px; }
      header .header_container .header_nav {
        font-size: 18px;
        font-weight: bold;
        position: absolute;
        top: 10px; }
        header .header_container .header_nav a {
          text-decoration: none;
          color: #999;
          padding: 10px; }
          header .header_container .header_nav a strong {
            color: #333; }
      header .header_container .social_icons_head {
        position: absolute;
        top: 0;
        right: 0; }

  main {
    position: relative;
    top: 90px;
    width: 100%;
    margin: auto; }
    main .container_1 {
      width: 87%;
      margin: auto; }
      main .container_1 .content_1 {
        text-align: center; }
        main .container_1 .content_1 h2 {
          font-size: 36px;
          font-weight: bold;
          padding: 10px;
          color: #333; }
        main .container_1 .content_1 p {
          font-size: 20px;
          color: #999;
          padding: 10px;
          line-height: 1.5; }
      main .container_1 img {
        margin-left: 30%; }
    main .container_2 {
      position: relative;
      background-color: #f5f5f5;
      width: 100%; }
      main .container_2 .container_wrapper {
        padding-top: 30px;
        margin-left: 95px;
        border-left: 7px solid #FFF; }
        main .container_2 .container_wrapper .content_list {
          width: 87%;
          margin: auto; }
          main .container_2 .container_wrapper .content_list .list_left {
            width: 80%;
            margin: 20px; }
          main .container_2 .container_wrapper .content_list .list_right {
            width: 80%;
            margin: 20px; }
          main .container_2 .container_wrapper .content_list .content {
            background-color: #fff;
            border-radius: 10px; }
            main .container_2 .container_wrapper .content_list .content h2 {
              font-weight: bold;
              font-size: 22px;
              color: #333;
              padding: 10px; }
            main .container_2 .container_wrapper .content_list .content p {
              font-size: 20px;
              color: #999;
              padding: 10px; }
          main .container_2 .container_wrapper .content_list .tool_tip {
            float: left;
            margin-left: -3%;
            margin-top: -10%;
            border-bottom: 15px solid transparent;
            border-top: 15px solid transparent;
            border-right: 20px solid #fff; }
          main .container_2 .container_wrapper .content_list .circle {
            width: 40px;
            height: 40px;
            background-color: #ffc3bd;
            border-radius: 50%;
            float: left;
            margin-left: -16.4%;
            margin-top: -10%; }
    main .circle_2014 {
      font-family: Asap;
      position: absolute;
      top: -75px;
      left: 40px;
      width: 100px;
      height: 100px;
      border: 7px solid #fff;
      border-radius: 50%;
      background-color: black;
      color: #999;
      font-size: 20px;
      margin: auto;
      background-color: #f5f5f5;
      text-align: center; }
      main .circle_2014 span {
        float: left;
        margin: 30%;
        margin-top: 40%; } }
@media (min-width: 1024px) {
  body {
    font-family: Asap; }

  header {
    position: fixed;
    padding-bottom: 10px;
    height: 80px;
    width: 100%;
    background-color: #fff;
    z-index: 999;
    border-bottom: 1px solid #f5f5f5; }
    header .header_container {
      position: relative;
      height: 100%;
      width: 87%;
      margin: auto;
      text-align: center;
      margin-top: 30px; }
      header .header_container .header_nav {
        font-size: 18px;
        font-weight: bold;
        position: absolute;
        top: 10px; }
        header .header_container .header_nav a {
          text-decoration: none;
          color: #999;
          padding: 10px; }
          header .header_container .header_nav a strong {
            color: #333; }
      header .header_container .social_icons_head {
        position: absolute;
        top: 0;
        right: 0; }

  main {
    position: relative;
    top: 90px;
    width: 100%;
    margin: auto; }
    main .container_1 {
      width: 87%;
      margin: auto; }
      main .container_1 .content_1 {
        margin-right: 50%; }
        main .container_1 .content_1 h2 {
          font-size: 36px;
          font-weight: bold;
          padding: 10px;
          color: #333; }
        main .container_1 .content_1 p {
          font-size: 20px;
          color: #999;
          padding: 10px;
          line-height: 1.5; }
      main .container_1 img {
        position: absolute;
        top: 10px;
        right: 100px; }
    main .circle_2014 {
      font-family: Asap;
      position: absolute;
      top: -75px;
      left: Calc(50% - 75px);
      width: 100px;
      height: 100px;
      border: 7px solid #fff;
      border-radius: 50%;
      background-color: black;
      color: #999;
      font-size: 20px;
      margin: auto;
      background-color: #f5f5f5;
      text-align: center; }
      main .circle_2014 span {
        float: left;
        margin: 30%;
        margin-top: 40%; }
    main .container_2 {
      background-color: #f5f5f5;
      width: 100%;
      position: relative;
      margin-top: 81px;
      padding-top: 36px; }

  .container_wrapper {
    position: relative;
    width: 87%;
    margin: auto; }

  .content_list {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    margin: auto; }
    .content_list .list_left {
      width: 41%;
      border-right: 7px solid #fff;
      padding: 2%;
      padding-right: 5%; }
      .content_list .list_left .content {
        background-color: #fff;
        border-radius: 10px; }
      .content_list .list_left h2 {
        font-weight: bold;
        font-size: 22px;
        color: #333;
        padding: 10px; }
      .content_list .list_left p {
        font-size: 20px;
        color: #999;
        padding: 10px; }
      .content_list .list_left .tool_tip {
        float: right;
        margin-right: -4%;
        margin-top: -15%;
        border-bottom: 15px solid transparent;
        border-top: 15px solid transparent;
        border-left: 20px solid #fff; }
      .content_list .list_left .circle {
        width: 40px;
        height: 40px;
        background-color: #ffc3bd;
        border-radius: 50%;
        float: right;
        margin-right: -18%;
        margin-top: -15%; }
    .content_list .list_right {
      width: 41%;
      margin-top: 110px;
      background-color: #f5f5f5;
      padding: 2%;
      padding-left: 7%;
      display: inline-block; }
      .content_list .list_right .content {
        background-color: #fff;
        border-radius: 10px; }
        .content_list .list_right .content h2 {
          font-weight: bold;
          font-size: 22px;
          color: #333;
          padding: 10px; }
        .content_list .list_right .content p {
          font-size: 20px;
          color: #999;
          padding: 10px; }
      .content_list .list_right .tool_tip {
        float: left;
        margin-left: -4%;
        margin-top: -15%;
        border-bottom: 15px solid transparent;
        border-top: 15px solid transparent;
        border-right: 20px solid #fff; }
      .content_list .list_right .circle {
        width: 40px;
        height: 40px;
        background-color: #ffc3bd;
        border-radius: 50%;
        float: left;
        margin-left: -22.5%;
        margin-top: -15%; } }

/*# sourceMappingURL=style.css.map */
