@media (min-width : 1024px) {
    body {
        font-family: Asap;
    }
    header {
        position: fixed;
        padding-bottom: 10px;
        height: 80px;
        width: 100%;
        background-color: #fff;
        z-index: 999;
        border-bottom: 1px solid #f5f5f5;
        .header_container {
            position: relative;
            height: 100%;
            width: 87%;
            margin: auto;
            text-align: center;
            margin-top: 30px;
            .header_nav {
                font-size: 18px;
                font-weight: bold;
                position: absolute;
                top: 10px;
                a {
                    text-decoration: none;
                    color: #999;
                    padding: 10px;
                    strong {
                        color: #333;
                    }
                }
            }
            .social_icons_head {
                position: absolute;
                top: 0;
                right: 0;
            }
        }
    }
    position: relative;
    main {
        top: 90px;
        width: 100%;
        margin: auto;
        .container_1 {
            width: 87%;
            margin: auto;
            .content_1 {
                margin-right: 50%;
                h2 {
                    font-size: 36px;
                    font-weight: bold;
                    padding: 10px;
                    color: #333;
                }
                p {
                    font-size: 20px;
                    color: #999;
                    padding: 10px;
                    line-height: 1.5;
                }
            }
            img {
                position: absolute;
                top: 10px;
                right: 100px;
            }
        }
        .circle_2014 {
            font-family: Asap;
            position: absolute;
            top: -75px;
            left: Calc(50% - 75px);
            width: 100px;
            height: 100px;
            border: 7px solid #fff;
            border-radius: 50%;
            background-color: black;
            color: #999;
            font-size: 20px;
            margin: auto;
            background-color: #f5f5f5;
            text-align: center;
            span {
                float: left;
                margin: 30%;
                margin-top: 40%;
            }
        }
        .circle_now {
            font-family: Asap;
            width: 100px;
            height: 100px;
            border: 7px solid #fff;
            border-radius: 50%;
            font-size: 20px;
            background-color: #f5f5f5;
            text-align: center;
            color: #999;
            margin: auto;
            position: relative;
            left: calc(0% - 15px);
            top: -70px;
            background-color: #f5f5f5;
            text-align: center;
            span {
                float: left;
                margin: 30%;
                margin-top: 40%;
            }
        }
        .container_2 {
            background-color: #f5f5f5;
            width: 100%;
            position: relative;
            margin-top: 81px;
            padding-top: 36px;
        }
        .container_wrapper {
            position: relative;
            width: 87%;
            margin: auto;

            // background-color: #f5f5f5;
        }
        .content_list {
            display: flex;
            flex-wrap: wrap;
            flex-direction: row;
            margin: auto;
            .list_left {
                width: 41%;

                // display: inline-block;
                border-right: 7px solid #fff;

                // float: left;
                padding: 2%;
                padding-right: 5%;
                .content {
                    background-color: #fff;
                    border-radius: 10px;
                }
                h2 {
                    font-weight: bold;
                    font-size: 22px;
                    color: #333;
                    padding: 10px;
                }
                p {
                    font-size: 20px;
                    color: #999;
                    padding: 10px;
                }
                .tool_tip {
                    float: right;
                    margin-right: -4%;
                    margin-top: -15%;
                    border-bottom: 15px solid transparent;
                    border-top: 15px solid transparent;
                    border-left: 20px solid #fff;
                }
                .circle {
                    width: 40px;
                    height: 40px;
                    background-color: #ffc3bd;
                    border-radius: 50%;
                    float: right;
                    margin-right: -18%;
                    margin-top: -15%;
                }
            }
            .list_right {
                width: 41%;
                margin-top: 110px;
                background-color: #f5f5f5;

                // border-left: 2px solid black;
                // float: right;
                padding: 2%;
                padding-left: 7%;
                display: inline-block;
                .content {
                    background-color: #fff;
                    border-radius: 10px;
                    h2 {
                        font-weight: bold;
                        font-size: 22px;
                        color: #333;
                        padding: 10px;
                    }
                    p {
                        font-size: 20px;
                        color: #999;
                        padding: 10px;
                    }
                }
                .tool_tip {
                    float: left;
                    margin-left: -4%;
                    margin-top: -15%;
                    border-bottom: 15px solid transparent;
                    border-top: 15px solid transparent;
                    border-right: 20px solid #fff;
                }
                .circle {
                    width: 40px;
                    height: 40px;
                    background-color: #ffc3bd;
                    border-radius: 50%;
                    float: left;
                    margin-left: -22.5%;
                    margin-top: -15%;
                }
            }
            #last_div {
                padding-bottom: 100px;
            }
            }
        .section_2 {
            font-family: Asap;
            width: 87%;
            margin: auto;
            text-align: center;
            .content_2 {
                padding-bottom: 25px;
                h2 {
                    font-size: 36px;
                    font-weight: bold;
                    color: #333;
                }
                p {
                    font-size: 20px;
                    color: #999;
                    line-height: 1.5;
                    padding: 10px;
                }
            }
            .button {
                margin-top: 20px;
                width: 450px;
                margin: auto;
                font-size: 20.3px;
                padding: 20px;
                border-radius: 30px;
                background-color: #2ECC71;
                color: #fff;
            }
        }
    }
}
